<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    
    
    <body>
        <form action="/posts" method:="post">
            <label for="title">Title</label> <br>
            <input type="text" id="text" name="text" value=""> <br>
            <label for="content">Content</label> <br>
            <textarea rows="50" cols="80" name="content" placeholder="Enter text here..."></textarea> <br>
        </form>
    
    
    </body>
</html>